.form-container {
  background-color: rgba(255, 255, 255, 0.2); /* 투명한 배경 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 */
  backdrop-filter: blur(10px); /* 백그라운드 블러 */
  width: 400px;
  margin: 20px auto;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #fff; /* 텍스트 색상 */
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 1.2rem;
  color: #fff; /* 텍스트 색상 */
  margin-bottom: 5px;
  display: block;
}

input[type="date"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  color: #333;
}

textarea {
  height: 100px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.save-btn {
  background-color: #42be63; /* 저장 버튼 색상 */
  color: #fff;
}

.cancel-btn {
  background-color: #ff6347; /* 취소 버튼 색상 */
  color: #fff;
}

button:hover {
  opacity: 0.9; /* 버튼 호버 시 투명도 조절 */
}
